.wc-fruit-right {

}

.wc-fruit-left {

}

/* --- login ---- */
.wc-fruit-login-wrap {

}

.wc-fruit-login-wrap input {
    height: 30px;
}

/*------------ menu ------------*/
.wc-fruit-menu {
    border-top: none;
}

.wc-fruit-menu a {
    color: white !important;
}

.wc-fruit-menu a:hover {
    color: red !important;
}

.wc-fruit-menu .active {
    background-color: green !important;
    border-radius: 4px;
}

/* navbar */
.navbar-primary .navbar {
    border-bottom: none;
}

.navbar-primary .navbar .nav > li > a {
    height: 40px;
    line-height: 40px;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0 !important;

}

.navbar-primary .navbar .nav > li > a:hover {
    background-color: #172d5a;
}

.navbar-primary .navbar .nav.pull-right {
    margin-left: 10px;
    margin-right: 0;
}

.navbar-xs .navbar-primary .navbar {
    min-height: 40px;
    height: 40px;
    margin-bottom: 10px !important;
}

.navbar-xs .navbar-primary .navbar .navbar-brand {
    padding: 0px 12px;
    font-size: 16px;
    line-height: 40px;
}

.navbar-xs .navbar-primary .navbar .navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 40px;
}

.navbar-xs .navbar-primary .navbar .navbar-toggle {
    height: 40px;
    margin: 0 20px !important;
}

.navbar-sm .navbar-primary .navbar {
    min-height: 40px;
    height: 40px;
}

.navbar-sm .navbar-primary .navbar .navbar-brand {
    padding: 0px 12px;
    font-size: 16px;
    line-height: 40px;
}

.navbar-sm .navbar-primary .navbar .navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 40px;
}

/*post*/
.wc-fruit-post-object {
    border: 1px solid #c2c2c2;
    padding-bottom: 0 !important;
}

.wc-fruit-post-object-statistic {
    border-top: 1px solid #d7d7d7;
    padding-top: 10px;
    padding-bottom: 10px;
}